# ignore ALL .log files
*.log

# ignore ALL files in .vscode
.vscode/*

# ignore all bsub files
*.bsub
Circos/gene_track_data_ad
Circos/manhattan_data_ad
Circos/pwas_data_ad
Circos/twas_data_ad
Circos/ADSP_keep_quest_comb_cohorts_GWAS_age_sex_PC1-5.ALZ_STATUS.glm.logistic.hybrid
Circos/ADSP_PWAS_ARIC.all_tissues_pos.tsv
Circos/ADSP_TWAS_GTEx.all_tissues_pos.tsv
Model_Performance.xlsx
train_elasticnet_genomics.py
Circos/AD_WAS_circos_fin.png
Circos/ADSP_keep_quest_comb_cohorts_GWAS_age_sex_PC1-5_fin.ALZ_STATUS.glm.logistic.hybrid
Circos/ADSP_PWAS_ARIC.all_tissues_pos_fin.tsv
Circos/ADSP_TWAS_GTEx.all_tissues_pos_fin.tsv
GWAS_filtered_pathways.csv
GWAS.png
PWAS_filtered_pathways.csv
PWAS.png
TWAS_filtered_pathways.csv
TWAS.png
enrichr/PTWAS_filtered_pathways.csv
enrichr/PTWAS.png
enrichr/PWAS_filtered_pathways_kegg_reactome.csv
enrichr/TWAS_filtered_pathways_kegg_reactome.csv
